@import url('https://fonts.googleapis.com/css2?family=Genos:wght@100&display=swap');

.nav{
    width: 100%;
    height: 7%;
    display: flex;
    background-color: rgb(0, 2, 2);
    font-family: Genos, sans-serif;
    line-height: 75px;
    position: inherit;
    z-index: 1;
}

.nav a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0px 32px;
}

/* this is the links themselves */

.nav a:hover {
    color: rgba(56, 54, 194, 0.705);
}

/* on hover */

h1 {color: rgb(1, 0, 10);
    font-family: Genos, sans-serif;
    font-size: 50px;
    font-stretch: narrower;
    
}

p {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 20px;
    
}

html, body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;

}

.container {
    flex-basis: auto;
  
}

.item1 {
    width:500px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: rgb(0, 0, 0);
}
.item2 {
    width: 500px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
.item3 {
    width: 500px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
.item4 {
    width: 700px;
    height: 500px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
}
.item5 {
    width: 550px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
.item6 {
    width: 550px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
.item7 {
    width: 550px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
.item8 {
    width: 1000px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
.item9 {
    width: 550px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
.item10 {
    width: 550px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}

.item11 {
    width: 550px;
    margin: 10px;
    border: 5px solid;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}

.item22 {
    width: 600px;
    margin: 10px;
    border: 5px solid;
    position: absolute;
    right: 0%;
    border-color: rgb(1, 0, 10);
    background-color: thistle;
}
/* for class we use. */
/* for id we use hashtag */

